<h1 style="border-bottom-style: solid; border-color: rgba(0, 38, 89, 1); color: rgba(0, 38, 89, 1)">Formas de Participacion</h1>
<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading" style="background-color: rgba(0, 38, 89, 1); color: #ffffff">
      <h4 class="panel-title" >
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
        Ponentes en las mesas temáticas</a>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse">
      <div class="panel-body" style="text-align: justify">
          La participación como ponente en las mesas temáticas queda abierta para todos los profesionales, de las diferentes disciplinas. Pueden participar hondureños y extranjeros.
          Las postulaciones de las ponencias serán recibidas a más tardar el viernes 4 de agosto de 2017. Para tal efecto, el postulante debe remitir:

        <div class="list-group" style="margin-top: 15px; margin-bottom: 15px">
          <a href="#" class="list-group-item">Hoja de Vida escrita en una página tamaño carta, a 12 puntos en tipo Times New Roman, a 1.5 espacios.</a>
          <a href="#" class="list-group-item">Resumen del tema con una extensión de 300 a 400 palabras (incluyendo de 3 a 5 descriptores), a 12 puntos en tipo Times New Roman, a 1.5 espacios.</a>
        </div>

        <p style="text-align: justify">
          La escogencia de los ponentes será emitida por el Comité de Selección el día viernes 11 de agosto de 2017. Los ponentes seleccionados tendrán plazo hasta el viernes 25 de agosto para presentar
          el texto completo de su ponencia. <br />
          Las ponencias que cumplan con las normas de publicación serán incluidas en un número especial de Innovare, Revista de Ciencia y Tecnología, de la Universidad Tecnológica Centroamericana.
        </p>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" style="background-color: rgba(0, 38, 89, 1); color: #ffffff">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
        Expositor en las Disciplinas Artísticas</a>
      </h4>
    </div>
    <div id="collapse2" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="list-group" style="margin-top: 15px; margin-bottom: 15px">
          <a href="#" class="list-group-item">Pueden participar artistas hondureños y extranjeros, mayores de 16 años. </a>
          <a href="#" class="list-group-item">En caso de ser el artista menor de edad, la inscripción de las obras podrá hacerse por medio de sus padre o tutores.</a>
          <a href="#" class="list-group-item">Cada artista podrá presentar un máximo de cuatro (4) obras, las que deberán ser entregadas en su totalidad al momento de la inscripción. No se recibirá obras con carácter extemporáneo.</a>
          <a href="#" class="list-group-item">La inscripción de las obras se hará por medio de un formulario que será proporcionado por los organizadores del evento. </a>
          <a href="#" class="list-group-item">La inscripción de las obras por medio del formulario señalado y la entrega de las obras, comprometen al artista a respetar íntegramente las bases de la exposición.</a>
        </div>
        <div class="panel-group">
          <div class="panel panel-default">
            <div class="panel-heading" style="background-color: rgba(0, 38, 89, 1); color: #ffffff">
              <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapse4">Reglas de las Exposiciones</a>
              </h4>
            </div>
            <div id="collapse4" class="panel-collapse collapse">
              <ul class="list-group">
                <a href="#" class="list-group-item">Los formularios para la inscripción de las obras estarán disponibles en línea para su descarga.</a>
                <a href="#" class="list-group-item">La inscripción de las obras iniciará el lunes 18 de septiembre de 2017 a las 9.00 am. en la Coordinación de Humanidades de UNITEC, Campus de SPS.</a>
                <a href="#" class="list-group-item">Las obras deberán presentarse a más tardar el viernes 6 de octubre de 2017 a las 5:00 pm. en el mismo lugar. </a>
                <a href="#" class="list-group-item">El transporte de las obras hacia y desde la exposición corree a cargo del artista. </a>
                <a href="#" class="list-group-item">Las obras deben estar en perfecto estado. No se admitirán obras dañadas o maltratadas.</a>
                <a href="#" class="list-group-item">Las obras deben estar debidamente identificadas en la parte posterior del formato con el nombre de la obra y nombre del autor. Si estarán disponibles para la venta,
                  se debe incluir también las dimensiones, técnica y precio de venta.</a>
                <a href="#" class="list-group-item">La exposición recibirá un 20% del precio de venta fijado por el autor como comisión por la promoción.</a>
                <a href="#" class="list-group-item">Solamente se expondrán las obras que hayan sido seleccionadas por el curador de cada colección. </a>
                <a href="#" class="list-group-item">Las Obras podrán ser reclamadas a partir del lunes 6 de noviembre de 2017 en el mismo lugar de depósito de lunes a viernes en horario de 8:00 am a 5.00 pm. Toda obra que no sea
                  reclamada por sus autores después del 15 de noviembre de 2017, se entenderá entregada en donación a la Universidad Tecnológica Centroamericana, pasando a formar parte de su colección privada.</a>
                <a href="#" class="list-group-item">Las obras solamente podrán ser reclamadas personalmente por los artistas, presentando copia del formulario de inscripción debidamente firmado y sellado por los organizadores.</a>
                <a href="#" class="list-group-item">La Universidad Tecnológica Centroamericana se reserva el derecho de inscripción de las obras.</a>
                <a href="#" class="list-group-item">Toda situación no prevista en las reglas de la exposición será conocida y resuelta por el Comité Organizador del Congreso.</a>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" style="background-color: rgba(0, 38, 89, 1); color: #ffffff">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
        Público General</a>
      </h4>
    </div>
    <div id="collapse3" class="panel-collapse collapse">
      <div class="panel-body"><p style="text-align: justify">
        La participación como público general al evento queda abierto para todos los profesionales y estudiantes que
        deseen participar. La inscripción temprana podrá hacerse a partir del 2 de mayo. Los costos se publicarán por esta vía.
        La inscripción se cerrará previo a la inauguración del evento.
      </p></div>
    </div>
  </div>
</div>
