<h1 style="border-bottom-style: solid; font-family: Book Antiqua; border-color: rgba(0, 38, 89, 1); color: rgba(0, 38, 89, 1)">Conferencistas</h1>
<div id="miniprofile">
  <div style="overflow: hidden; height: 100px">
    <%= image_tag("randy1.png", width: "100px", style: "float: left; display: block; margin: auto;") %>
    <div style="float: left; overflow: hidden">
      <h2>Maya Aguiluz Ibargüen</h2>
      <h3>Informacion</h3>
    </div>
  </div>
</div>
<br />
<br />
<div id="miniprofile">
  <div style="overflow: hidden; height: 100px">
    <%= image_tag("randy1.png", width: "100px", style: "float: left; display: block; margin: auto;") %>
    <div style="float: left; overflow: hidden">
      <h2>Josefina Álvarez Dobinger</h2>
      <h3>Informacion</h3>
    </div>
  </div>
</div>
