<?xml version="1.0" encoding="UTF-8"?>
<configuration>
 <system.webServer>
  <heliconZoo>
   <application name="Innovare" >
    <environmentVariables>
     <add name="DEPLOY_FILE" value="deploy.rb" />
     <add name="DEPLOY_LOG" value="log\zoo-deploy.log" />
     <add name="RACK_ENV" value="development" />
    </environmentVariables>
    <fastcgiVariables>
     <add name="SCRIPT_NAME" value="%APPL_VIRTUAL_PATH%"  />
    </fastcgiVariables>
   </application>
  </heliconZoo>
  <handlers>
       <add name="Innovare#x86" scriptProcessor="ruby.1.9.rack"
          path="*" verb="*" modules="HeliconZoo_x86"
          preCondition="bitness32" resourceType="Unspecified"
          requireAccess="Script" />
       <add name="Innovare#x64" scriptProcessor="ruby.1.9.rack"
          path="*" verb="*" modules="HeliconZoo_x64"
          preCondition="bitness64" resourceType="Unspecified"
          requireAccess="Script" />
  </handlers>
 </system.webServer>
</configuration>