<h1 style="border-bottom-style: solid; font-family: Book Antiqua; border-color: rgba(0, 38, 89, 1); color: rgba(0, 38, 89, 1)">Inicio</h1>
<p>
  La Universidad Tecnológica Centroamericana ha entendido en sus primeros treinta años de vida que, a la par de garantizar a sus estudiantes el acceso a los avances tecnológicos de punta en su proceso formativo, es necesario asegurar su humanización en el proceso, ayudándoles a desarrollar la necesaria sensibilidad para reconocer su propio contexto. De esta manera, los profesionales que se forman en las aulas de UNITEC, tienen herramientas adecuadas para resolver de manera ética, las necesidades de su entorno inmediato.<br />

  Dentro de esa visión formativa es que se propone Cognitio, como el espacio de discusión para el intercambio de experiencias y la generación de propuestas, que permita la construcción de redes humanas en el ámbito de la academia y de la innovación. Tiene el propósito específico de analizar la importancia social, económica y cultural de Honduras, a la vez de contribuir con el desarrollo integral de los profesionales que egresan de nuestros diferentes centros de estudios.
  <br />
  La Primera entrega de Cognitio, el Congreso de Ciencias Sociales, Artes y Humanidades de UNITEC se llevará a cabo del 31 de octubre a 2 de noviembre de 2017 en el Campus de San Pedro Sula.

</p><br /><br />

<blockquote>
  "La ciencia tiene inmensos recursos para solucionar muchos enigmas de la realidad y solucionar,
  convertida en técnica, muchos problemas al hombre, pero no tiene recursos para decirle al hombre el sentido más hondo de su vida,
  la ciencia, por tanto, tiene que reconocer sus límites, reconocer que tiene que haber una instancia superior que le diga al hombre cuáles son
  las rutas auténticas para convertirse en plenamente hombre, y cuáles son las rutas peligrosas que lo pueden destruir como hombre."<br />
  <p style="text-align: right; font-style: italic">
    -Max Planck
  </p>
</blockquote>
