<p>
  <h2>Test Home</h2>

  En el entendido que la Academia enseña, vincula e investiga, la Universidad Tecnológica Centroamericana UNITEC orienta sus actividades al desarrollo de capacidades en sus docentes y estudiantes para conocer la realidad, explicarla y transformarla.
  Lo anterior lleva a UNITEC a desplegar esfuerzos y recursos que implican la formación en capacidades científicas, la identificación de proyectos de investigación y su desarrollo por parte de los docentes y estudiantes. Todo lo anterior se desarrolla
  enmarcado en grandes líneas de investigación científica que marcan la pauta y nos alinean con los objetivos de desarrollo del país. <br> <br>

La revista INNOVARE se convierte en uno de los eslabones de todo nuestro trabajo en la investigación científica. Se crea para contar con un espacio amplio donde UNITEC puede divulgar conocimientos de la comunidad científica en el campo de la ciencia y
la tecnología. Se convierte así en la revista de la universidad donde los mejores trabajos científicos que nacieron y se desarrollaron en nuestros campus puedan ser divulgados. Es también el espacio donde los trabajos conjuntos de nuestra comunidad
universitaria con otras instituciones, así como trabajos relevantes desarrollados completamente en otras instituciones puedan se publicados. <br> <br>

INNOVARE se orienta con el espíritu de excelencia. Es por eso que cuenta con un Comité Editorial, el sistema de pares evaluadores y  la plataforma virtual que permite divulgar artículos que han demostrado rigurosidad científica y relevancia para las
ciencias. <br> <br>

UNITEC nuevamente da un paso adelante ofreciendo a la comunidad científica y especialmente al país un medio de difusión que se convertirá en un instrumento importante para el desarrollo de las ciencias en el país y en la región centroamericana.
</p>
