<h1 style="border-bottom-style: solid; font-family: Book Antiqua; border-color: rgba(0, 38, 89, 1); color: rgba(0, 38, 89, 1)">Mesas Temáticas</h1>
<div class="list-group">
  <a href="#" class="list-group-item">Migración</a>
  <a href="#" class="list-group-item">Desarrollo Económico, Industrial y Tecnológico</a>
  <a href="#" class="list-group-item">Desarrollo Artístico-Cultural</a>
  <a href="#" class="list-group-item">Seguridad y Violencia</a>
  <a href="#" class="list-group-item">Recursos Naturales y Ordenamiento Territorial</a>
  <a href="#" class="list-group-item">Identidad Regional, Etnias y Patrimonio Histórico-Cultural</a>
</div>
