<h1 style="border-bottom-style: solid; border-color: rgba(0, 38, 89, 1)">Conferencistas</h1>
<ul class="list-group">
  <li class="list-group-item">First item</li>
  <li class="list-group-item">Second item</li>
  <li class="list-group-item">Third item</li>
</ul>
