/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";


@import "font-awesome";

nav div ul li{
  padding-right: 35px;
  padding-top: 27px;
  margin:0;
  position:relative;
  right:50%;
  top: 50%;
}

nav div ul{
    list-style-type: none;
    margin:0;
   padding:0;
   position:relative;
   left:50%;
   text-align:center;
   width: 1520px;
}

#navlinktest{
  text-decoration: none!important;
  font-family: "Book Antiqua";
  font-size: 23px;
  color: #ffffff;
}

#navbarstyle{
  background-color:  rgba(0, 38, 89, 1);
  height: 80px;
  line-height: 50px;
}

#navimage{
  padding-top: 0px;
  padding-right: 0px;
}

#miniprofile{
  border: 5px solid rgba(0, 38, 89, 1);
  border-radius: 5px;
  background-color: rgba(0, 38, 89, 1);
}

.bodybackground{
  background-color: #FFFFFF;
}

blockquote{
  display:block;
  background: rgba(0, 38, 89, 1);
  padding: 15px 15px 15px 15px;
  margin: 0 0 20px;
  position: relative;

  /*Font*/
  font-size: 16px;
  line-height: 1.2;
  color: #fff;
  text-align: justify;

  /*Borders - (Optional)*/
  border: 2px solid rgba(0, 38, 89, 1);
  border-left: 15px solid rgba(0, 38, 89, 1);
  border-right: 15px solid rgba(0, 38, 89, 1);
  border-radius: 5px;
}

blockquote a{
  text-decoration: none;
  background: #eee;
  cursor: pointer;
  padding: 0 3px;
  color: #c76c0c;
}

blockquote a:hover{
 color: #666;
}

blockquote em{
  font-style: italic;
}

full-article-footer {
    border-top: 1px solid #E0DFDB;
}
