/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

@import "font-awesome";

nav div ul li{
  padding-right: 40px;
  padding-top: 47px;
  margin:0;
  position:relative;
  right:50%;
}

nav div ul{
  list-style-type: none;
  margin:0;
   padding:0;
   position:relative;
   left:50%;
   text-align:center;
}

#navlinktest{
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
}

#navbarstyle{
  background-color:  rgba(0, 38, 89, 1);
  height: 100px;
}

#navimage{
  padding-top: 0px;
}

.bodybackground{
  background-color: #efefef;
}
