<h1 style="border-bottom-style: solid; border-color: rgba(0, 38, 89, 1); color: rgba(0, 38, 89, 1)">Exposiciones Artisticas</h1>
<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading" style="background-color: rgba(0, 38, 89, 1); color: #ffffff">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
        Pintura</a>
      </h4>
    </div>
      <div id="collapse1" class="panel-collapse collapse">
        <ul class="list-group">
          <a href="#" class="list-group-item">Se admiten obras elaboradas con cualquier técnica.</a>
          <a href="#" class="list-group-item">Se restringe a pinturas de caballete. No se admitirán instalaciones.</a>
          <a href="#" class="list-group-item">La temática de la pintura debe estar vinculada al tema general de la exposición.</a>
          <a href="#" class="list-group-item">Las pinturas deben ser totalmente originales. No se admite copias, sean estas totales o parciales.</a>
          <a href="#" class="list-group-item">Sólo se admitirán pinturas que estén listas para ser colgadas. No se admitirán pinturas no tenga incorporados los aditamentos necesarios.</a>
          <a href="#" class="list-group-item">Las obras no podrán exceder los os metros (2 mts.) en su dimensión mayor.</a>
        </ul>
      </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" style="background-color: rgba(0, 38, 89, 1); color: #ffffff">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
        Fotografía</a>
      </h4>
    </div>
    <div id="collapse2" class="panel-collapse collapse">
      <ul class="list-group">
        <a href="#" class="list-group-item">Se admiten obras en color o blanco y negro.</a>
        <a href="#" class="list-group-item">No se aceptarán fotografías retocadas o manipuladas digitalmente.</a>
        <a href="#" class="list-group-item">El fotógrafo enviará las fotografías en formato digital para su curaduría a la dirección de correo: metalain@unitec.edu a más tardar el viernes 1 de septiembre de 2017.</a>
        <a href="#" class="list-group-item">La selección de las fotografías por parte de los curadores será informada por medio de correo electrónico por parte de los organizadores del evento. </a>
        <a href="#" class="list-group-item">Es obligación del fotógrafo imprimir las fotografías seleccionadas por los curadores. Las impresiones deberán tener una medida de 11 x 8.5 pulgadas, a una resolución de 300 a
          350 DPIs. Estas deberán montarse en cartón negro, dejando un marco de 1 pulgada por lado. Las impresiones montadas de la manera antes descrita deberán ser inscritas siguiendo las reglas de las exposiciones descritas abajo.</a>
      </ul>
  </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" style="background-color: rgba(0, 38, 89, 1); color: #ffffff">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
        Cartelografía</a>
      </h4>
    </div>
    <div id="collapse3" class="panel-collapse collapse">
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading" style="background-color: rgba(0, 38, 89, 1); color: #ffffff">
    <h4 class="panel-title">
      <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
      Grafiti / Arte urbano</a>
    </h4>
  </div>
  <div id="collapse3" class="panel-collapse collapse">
</div>
</div>
<div class="panel panel-default">
  <div class="panel-heading" style="background-color: rgba(0, 38, 89, 1); color: #ffffff">
    <h4 class="panel-title">
      <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
      Numismática</a>
    </h4>
  </div>
  <div id="collapse3" class="panel-collapse collapse">
</div>
